
  img {
    border-radius: 50%;
  }
  .textbox-1 {
      font-size: 1.25em;
      text-align: justify;
  }
  .row {
      display: flex;
      justify-content:space-around;
      padding:25px 0 ;
      max-width:1280px;
      margin:auto;
      
  }
  

.child1 {
    width: 50%;
    height: 100vh;
    
    
}

.child2 {
    width: 50%;
    height: 100vh;

}
.child3 {
    width: 50%;
    height: 100vh;
  